img {
    max-width: 40%;
    margin-bottom: -1.5%;
}
body {
    font-family: "Lobster";
}
.adv {
    margin-left: 0;
}
.menu li{
    display: inline-block;
}
.menu {
    padding-right: 1000px;
}
table  {
    text-align:center;
    border-collapse: collapse;
    width: 40%;
}
th{
    padding: 12px 15px;
}
footer {
    background-color: black;
    color: white;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: rgb(186, 250, 10);
}
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

